<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Saved Places

    <a data-toggle="collapse" href="#user_saved_places_new_form">
      Add saved place
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @user.saved_places.each do |saved_place| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <%= link_to saved_place, saved_place %>

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="user_saved_places_new_form">
        <%= render partial: "users/user_saved_places_new_form" %>
      </div>
    </div>

  </ul>
</div>
