<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Visits

    <a data-toggle="collapse" href="#place_visits_new_form">
      Add visit
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @place.visits.each do |visit| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <%= link_to visit, visit %>
        <!-- Show link end -->

        <!-- Delete link start -->
        <%= link_to visit, method: :delete, data: { confirm: "Do you really want to delete this visit" } do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
        <!-- Delete link end -->

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="place_visits_new_form">
        <!-- New associationcollection form start -->
        <%= render partial: "places/place_visits_new_form" %>
        <!-- New associationcollection form end -->
      </div>
    </div>

  </ul>
</div>
