<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Saved Places

    <a data-toggle="collapse" href="#place_saved_places_new_form">
      Add saved place
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @place.saved_places.each do |saved_place| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <%= link_to saved_place, saved_place %>
        <!-- Show link end -->

        <!-- Delete link start -->
        <%= link_to saved_place, method: :delete, data: { confirm: "Do you really want to delete this saved_place" } do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
        <!-- Delete link end -->

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="place_saved_places_new_form">
        <!-- New associationcollection form start -->
        <%= render partial: "places/place_saved_places_new_form" %>
        <!-- New associationcollection form end -->
      </div>
    </div>

  </ul>
</div>
